body {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2042508-jpeg.jpg");
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 12px;
  }
  body.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  a {
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /*End Global*/
  
  /*Start Mutual*/
  p, .a-CTA, input, header .navigation-bar a, .copyright li, .contact .form form label, .contact .form form button {
    font-family: Cabin, sans-serif;
  }
  .fa-asterisk, .a-CTA, h2, header .navigation-bar a:hover, header nav.active .navigation-bar a:hover, footer .social-media .links a:hover, .copyright .info li a, .copyright .CTA li a:hover {
    color: #a96700;
  }
  header nav .navigation-bar .underline, header .text .button button:hover, .contact .form form button:hover, .contact .text i:hover {
    background-color: #a96700;
  }
  header .navigation-bar ul li, header .text, .about-us .text, .reservation .text, .menu .box-model, .menu .text, .fixed-image .text, footer, .copyright, .contact .text i {
    text-align: center;
  }
  header nav, header .navigation-bar ul, .about-us, .reservation, .about-us .image-container, .reservation .image-container, .menu, .menu .menu-image-container, footer .contact-container, .copyright ul, .contact {
    display: flex;
  }
  header nav .toggle, header nav .toggle span, header .navigation-bar, header .navigation-bar ul, .menu .box-model .close, footer .social-media .links a, .copyright .CTA li a {
    transition: .3s;
  }
  header, header nav .toggle span, header .navigation-bar a, header .text, header .text .arrow .left, header .text .arrow .right, .recipes, .menu .box-image-container, .fixed-image .text, .copyright, .copyright .arrow-up {
    position: relative;
  }
  header nav .toggle, header .navigation-bar .underline, header .text .arrow .left:after, header .text .arrow .right:after, header .svg-down, header .arrow-down, .recipes .text, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .box-image-container .box-image, .copyright .svg-up {
    position: absolute;
  }
  header nav, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, .menu .box-model, .menu .box-image-container, .menu .box-image-container .box-image {
    width: 100%;
  }
  button, .dots > div, header nav .toggle, header .arrow-down, .menu .box-model .close, .menu .box-model .arrow .arrow-right,.menu .box-model .arrow .arrow-left, .menu .menu-image-container .image img, footer .newsletter i, .copyright .arrow-up {
    cursor: pointer;
  }
  .dots .active, header nav.active, header nav.active .toggle.active span, header nav .toggle span, header .navigation-bar .underline, header .text .arrow .left, header .text .arrow .right, header .text .button button, .contact form button {
    background-color: #fff;
  }
  h1, h3, header .navigation-bar a, header .text span, .menu .box-model .close:hover, footer .text h2, footer .text p, footer .social-media .links a, .contact .text i, .contact .form form button {
    color: #fff;
  }
  header nav, header .navigation-bar.show, header .navigation-bar a:hover .underline, header .navigation-bar li.active .underline, header .text .arrow .left:after, .menu .box-model, .copyright .arrow-up {
    left: 0;
  }
  header .text .arrow .left:after, header .text .arrow .right:after, header .text span, footer .social-media .links a, footer .newsletter i, .copyright .arrow-up, .contact .text i, .contact .form form label {
    display: inline-block;
  }
  /*End Mutual*/
  
  /*Start Dots*/
  
  header nav {
    position: fixed;
    top: 0;
    padding: 36px 36px 20px;
    z-index: 20;
  }
  header nav .toggle {
    display: none;
    top: 26px;
    left: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 21;
  }
  header nav .toggle:focus {
    outline: none;
  }
  header nav.active .toggle span {
    background-color: #000;
  }
  header nav .toggle.active {
    left: 32%;
  }
  header nav .toggle.active .first {
    top: 16px;
    transform: rotate(-45deg);
  }
  header nav .toggle.active .last {
    top: 0;
    transform: rotate(45deg);
  }
  header nav .toggle .hide {
    transition: 0s;
    visibility: hidden;
  }
  header nav .toggle span {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 40px;
  }
  header nav .toggle span:not(:last-of-type) {
    margin-bottom: 6px;
  }
  header nav .logo {
    flex-basis: 56%;
    padding-left: 50px;
  }
  header .navigation-bar.show {
    width: 40%;
  }
  header .navigation-bar.show a {
    color: #ccc !important;
  }
  header .navigation-bar.show a:hover {
    color: #fff !important;
  }
  header .navigation-bar ul li {
    flex: 1;
    padding: 0 20px;
  }
  header .navigation-bar a {
    text-decoration: none;
    transition: all .5s;
    font-size: 16px;
  }
  header nav.active .navigation-bar a {
    color: #000;
  }
  header .navigation-bar .underline {
    height: 2px;
    width: 0;
    left: 50%;
    bottom: -4px;
    transition: all .3s;
    display: block;
  }
  
  
  